
.footer {
  background-color: rgb(27, 27, 29);
  
  color: white;

}
.col-md-3{
  
  width: 100%;
}
.col-md-3 .row {
 
  margin-left: 60px;
  font-size: small;
}

h5 {
  padding: 5px;
  font-size: medium;
  text-align: center;

}

ul {
  list-style: none;
  text-decoration: none;
 margin-left: 25px;

}
ul li a {
  color: white;
  font-size: small;
}
ul li :hover {
  color: orange;
  text-decoration: none;
}
