.page{
    width: 100%;
}
.row .col-md-6 .row{
   
    margin: 30px auto;
    background-color: rgb(255, 254, 254);
   
    width: 100%;
}
  h4{
    text-align: center;
    align-items: center;
    align-content: center;
    font-style:normal;
    font-stretch: ultra-expanded;

}
.footer hr{
    background-color: rgb(248, 247, 253);
    height: 2px;
   text-align: center;
   width: 100% ;
}
.page{
    margin: 0 auto;
    background-color: aliceblue;
}
.ourcampus{
    width: 100%;
    background-color: gray;
    height: 2px;
    margin: 10px 0;
   
}
.lira{
    width: 100%;
     margin: 10px auto;
}
.logo{
   
   width: 60%;
min-height: 100px;
height: 300px;
    margin: 10px auto;
}
h6{
    width: 60%;
    margin: 10px auto;
    
}
.nav-item{
    font-weight: bold;
    font-size: 25px;
    font-stretch: 40px;
   
}
.navbar{
    font-size: 50px;
   
}
.img1{
    margin: 15px auto;
    width: 60%;
}
.support{
    width: 400px;
}
.bg{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSXIgd0RAR0G_i2QoYkaB3-QQJzmpsOamu2yw&usqp=CAU);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.ab{
    margin: 30px auto;
    width: 60%;
   
}
.lub{
    background-color:#6986B0;
    height: 100px; 
    margin: 15px;
}
.h{
    color:#393C3E;
}.pp{
    color: rgb(87, 84, 84);
    font-weight: bolder;
    font-size: 35px;
    padding: 15px;
}
.pesa{
    background-color: #E3E8E8;
    border-radius:15px ;
    height: 400px;
    width: 80%;
}
